/* line 2, ../../sass/sections/gallery.scss */
.gallery {
  padding-left: 26px;
  margin: 22px 0 26px 0;
}
/* line 6, ../../sass/sections/gallery.scss */
.gallery > div img {
  padding-left: 4px;
  padding-bottom: 4px;
}
/* line 10, ../../sass/sections/gallery.scss */
.gallery a {
  outline: none;
}
