/* line 2, ../../sass/main/sections.scss */
.section {
  margin: 30px 0;
}
/* line 5, ../../sass/main/sections.scss */
.section.news article {
  margin-bottom: 60px;
}
/* line 8, ../../sass/main/sections.scss */
.section.news article:last-of-type {
  margin-bottom: 0;
}
